<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bluetooth">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BlutoothCamera"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <activity
            android:name="com.example.bluetooth.modules.main.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.bluetooth.modules.test.TestActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.example.bluetooth.modules.test.CameraReceiverActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.example.bluetooth.modules.test.BluetoothTestActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.example.bluetooth.modules.main.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.example.bluetooth.modules.watch.WatchActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.example.bluetooth.modules.mobile.MobileActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.example.bluetooth.modules.camera.CameraActivity"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>
